{% extends 'base.html' %}

{% block content%}

<h1>Sign Up!</h1>
  {% if error %}
    {{ error }}
  {% endif %}
  <br>
  <br>
  <form class="" action="{% url 'accounts:signup' %}" method="POST">
    {% csrf_token %}
    Username:
    <br>
    <input type="text" name="username">
    <br>
    Password:
    <br>
    <input type="password" name="password1">
    <br>
    Confirm Password:
    <br>
    <input type="password" name="password2">
    <br>
    <br>
    <input class="btn" type="submit" value="Signup!">
  </form>

{% endblock %}
