{% extends 'base.html' %}

{% block content%}

<h1>The homepage of nowhere</h1>
<a href="{% url 'posts:create' %}" class="btn btn-primary">New Post</a>

<br>
<br>

{% for post in posts.all %}

<table>
  <tr>
    <td>UP<br> {{ post.votes_total }} <br> DOWN</td>
    <td><a href="{{ post.url }}">{{ post.title }}</a><br>{{ post.pub_date }} by {{ post.author.username }}</td>
  </tr>
</table>
<br>
<br>

<br>
<br>
{% endfor %}
<br>
<br>

{% endblock %}

<form action="{% url 'posts:upvote' post.id %}" method="POST">
  {% csrf_token %}
  <input class="btn" type="submit" value="Up">
</form>

<form action="{% url 'posts:downvote' post.id %}" method="POST">
 {% csrf_token %}
 <input class="btn" type="submit" value="Down">
</form>
