<h1>The homepage of nowhere</h1>
<a href="{% url 'posts:create' %}">New Post</a>

<br>
<br>

{% for post in posts.all %}
<br>
<form action="{% url 'posts:upvote' post.id %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="Up">
</form> {{ post.votes_total }} <form action="{% url 'posts:downvote' post.id %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="Down">
</form> - <a href="{{ post.url }}">{{ post.title }}</a>
<br>
<br>
{{ post.pub_date }} by {{ post.author.username }}
<br>
{% endfor %}
<br>
<br>
